## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## Visual Studio
.vs/
*.ncrunch*
*.dotsettings
*.DotSettings.user

## Logs
logs/
*.log

## Database
*.mdf
*.ldf
*.ndf

## Environment files
appsettings.*.json
!appsettings.json
*.Development.json

## App specific
wwwroot/lib/
node_modules/
